#backend
backend/node_modules
backend/log
#browser
Browser/data
Browser/node.exe
Browser/node_modules
Browser/files
#configs
Configs/env.key
#DBs
DBs/Sessions
DBs/mainframe.sqlite
DBs/main.sqlite
DBs/usersdb.sqlite
DBs/faceitdb.sqlite
#querycontrol
QueryControl/node_modules
QueryControl/log
#general
OnInstall