#backend
backend/node_modules
#browser
Browser/data
Browser/node.exe
Browser/node_modules
#configs
Configs/env.key
#DBs
DBs/Sessions
DBs/mainframe.sqlite
#querycontrol
QueryControl/node_modules
QueryControl/log
#general
OnInstall